dist
.DS_Store

data/*
pb_data

pb_migrations/

libsql/*
lib/
lib/

libsql-c/

targets/
.vscode/
.env.dev
.env.example
.gitignore
docker-compose.yml
Dockerfile
Dockerfile.libsql
Dockerfile.template
Makefile
**/.DS_Store